# Reviewer and approver configuration for addons.
# Implemented using GitHub's CODEOWNERS file.
# All repos are to require TWO approvals before merge.
# Reference: https://help.github.com/en/articles/about-code-owners
# Order is important: later rules override preceding rules

* @mesosphere/sig-ksphere-catalog

# Logging and Metrics stack
addons/prometheus/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog
addons/prometheusadapter/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog
addons/elasticsearch/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog
addons/elasticsearch-curator/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog
addons/elasticsearchexporter/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog
addons/fluentbit/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog
addons/kibana/* @mesosphere/sig-ksphere-observability @mesosphere/sig-ksphere-catalog


# Networking
addons/metallb/* @mesosphere/sig-ksphere-networking @mesosphere/sig-ksphere-catalog
addons/istio/* @mesosphere/sig-ksphere-networking @mesosphere/sig-ksphere-catalog
addons/ambassador/* @mesosphere/sig-ksphere-networking @mesosphere/sig-ksphere-catalog
